@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --color-blueTo: 193deg 88% 64%;
    --color-blueFrom: 215deg 88% 62%; */
    --color-blueTo: 197deg 100% 46%;
    --color-blueFrom: 226deg 93% 47%;
  }
}
